<!-- Wappler include head-page="index.html" appconnect="local" is="dmx-app" bootstrap4="cdn" fontawesome_4="cdn" jquery_slim_33="cdn" id="admin" -->


<section id="admin" class="text-xl-center">
	<div class="container wappler-block pt-3 pb-3">
		<div class="row justify-content-center">
			<div class="col-12 col-md-8 col-xl col-xl-5 col-lg-6">
				<div class="card rounded">
					<div class="card-header text-lg-center text-md-center">
						<div class="d-flex justify-content-xl-center align-items-xl-center justify-content-lg-center justify-content-md-center justify-content-sm-center justify-content-center pt-2">
							<header class="text-sm-center text-center">
								<h1 class="text-xl-center text-info">
									<i class="fa fa-crosshairs"></i>
								</h1>
								<p>Administration</p>
							</header>

						</div>
					</div>
					<div class="card-body pl-xl-5 pr-xl-5">


					</div>
					<div class="card-footer">
						<p class="card-text" dmx-text="reply" dmx-hide="reply.length()==0"></p>
						<p class="card-text" dmx-text="'Ingen klasser valgt !'" dmx-hide="reply.length()>0"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>