<!-- Wappler include head-page="index.html" appconnect="local" is="dmx-app" bootstrap4="cdn" fontawesome_4="cdn" jquery_slim_33="cdn" -->


<section id="test" class="text-xl-center">
	<div class="container wappler-block pt-3 pb-3">
		<div class="row justify-content-center">
			<div class="col-12 col-md-8 col-xl col-xl-5 col-lg-6">
				<div class="card rounded">
					<div class="card-header text-lg-center text-md-center">
						<div class="d-flex justify-content-xl-center align-items-xl-center justify-content-lg-center justify-content-md-center justify-content-sm-center justify-content-center pt-2">
							<header class="text-sm-center text-center">
								<h1 class="text-xl-center text-info">
									<i class="fa fa-universal-access fa-2x"></i>
								</h1>
								<p>Velg farlig-gods klasser</p>
							</header>

						</div>
					</div>
					<div class="card-body pl-xl-5 pr-xl-5">


						<p class="card-text text-xl-left">Velg første klasse<select id="select1" class="form-control" onchanged="checkSeparation(select1.value, select2.value)">
								<option value="0">Klasse 1.1 - 1.2 - 1.5</option>
								<option value="1">Klasse 1.3 - 1.6</option>
								<option value="2">Klasse 1.4</option>
								<option value="3">Klasse 2.1</option>
								<option value="4">Klasse 2.2</option>
								<option value="5">Klasse 2.3</option>
								<option value="6">Klasse 3</option>
								<option value="7">Klasse 4.1</option>
								<option value="8">Klasse 4.2</option>
								<option value="9">Klasse 4.3</option>
								<option value="10">Klasse 5.1</option>
								<option value="11">Klasse 5.2</option>
								<option value="12">Klasse 6.1</option>
								<option value="13">Klasse 6.2</option>
								<option value="14">Klasse 7</option>
								<option value="15">Klasse 8</option>
								<option value="16">Klasse 9</option>
							</select></p>
						<p class="card-text text-xl-left">Velg andre klasse<select id="select2" class="form-control" onchanged="checkSeparation(select1.value, select2.value)">
								<option value="0">Klasse 1.1 - 1.2 - 1.5</option>
								<option value="1">Klasse 1.3 - 1.6</option>
								<option value="2">Klasse 1.4</option>
								<option value="3">Klasse 2.1</option>
								<option value="4">Klasse 2.2</option>
								<option value="5">Klasse 2.3</option>
								<option value="6">Klasse 3</option>
								<option value="7">Klasse 4.1</option>
								<option value="8">Klasse 4.2</option>
								<option value="9">Klasse 4.3</option>
								<option value="10">Klasse 5.1</option>
								<option value="11">Klasse 5.2</option>
								<option value="12">Klasse 6.1</option>
								<option value="13">Klasse 6.2</option>
								<option value="14">Klasse 7</option>
								<option value="15">Klasse 8</option>
								<option value="16">Klasse 9</option>
							</select></p>
					</div>
					<div class="card-footer">
						<p class="card-text" dmx-text="reply" dmx-hide="reply.length()==0"></p>
						<p class="card-text" dmx-text="'Ingen klasser valgt !'" dmx-hide="reply.length()>0"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>